<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <events>
            <event name="item:moved">
                <handler patch:instead="*[@type='Sitecore.XA.Foundation.Multisite.EventHandlers.SiteCacheClearer, Sitecore.XA.Foundation.Multisite']"
                         type="Sitecore.Support.XA.Foundation.Multisite.EventHandlers.SiteCacheClearer, Sitecore.Support.360154" method="OnItemMoved"/>
            </event>
            <event name="item:moved:remote">
                <handler patch:instead="*[@type='Sitecore.XA.Foundation.Multisite.EventHandlers.SiteCacheClearer, Sitecore.XA.Foundation.Multisite']"
                         type="Sitecore.Support.XA.Foundation.Multisite.EventHandlers.SiteCacheClearer, Sitecore.Support.360154" method="OnItemMovedRemote"/>
            </event>
        </events>
    </sitecore>
</configuration>